services:
    laravel.test:
        build:
            context: './vendor/laravel/sail/runtimes/8.4'
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: 'sail-8.4/app'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            SUPERVISOR_PHP_COMMAND: "/usr/bin/php -d variables_order=EGPCS /var/www/html/artisan octane:start --server=frankenphp --host=0.0.0.0 --admin-port=2019 --port=80" 
            XDG_CONFIG_HOME:  /var/www/html/config 
            XDG_DATA_HOME:  /var/www/html/data 
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on: {  }
        deploy:
            resources:
                limits:
                    cpus: '1'
                    memory: 1G
networks:
    sail:
        driver: bridge
